<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/codeOpacity/op_icons@main/op_icons.all.min.css"
/>
<div class="container2">
  <div class="Principal">
    <h1>Amazing</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, veritatis
      sit natus officiis aut deserunt dolorem ipsa eum velit nostrum, molestias
      quod temporibus, sunt voluptatem nulla minus optio tenetur dicta!
    </p>
  </div>
</div>

<div class="row">

  <div class="divSale">
    <h1>OFERTAS</h1>
    <h2>Hasta el 70% de descuento</h2>
  </div>

  <div class="divSale2">
    <h1>Nueva coleccion</h1>
  </div>

</div>

<div>
  <div class="cards">
    <div class="outer">
      <div class="card" style="--delay: -1">
        <div class="header">
          <div class="profile">
            <div class="img">
              <img
                src="https://images.unsplash.com/photo-1655823111197-206a6c1df8c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt=""
              />
            </div>
            <div class="details">
              <h4>Ariana Salazar</h4>
              <p>ariana.salazarh.@ug.edu.ec</p>
            </div>
          </div>
          <div class="stars">
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
          </div>
        </div>
        <div class="testomonial">
          <p>
            Me encanta comprar mis prendas en este sitio, siempre visto elegante
            y se ha vuelto mi pagina favorita
          </p>
        </div>
      </div>
      <div class="card" style="--delay: 0">
        <div class="header">
          <div class="profile">
            <div class="img">
              <img
                src="https://images.unsplash.com/photo-1655184271972-77187a02cf0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt=""
              />
            </div>
            <div class="details">
              <h4>Maria Zambrano</h4>
              <p>maria.zambranog.@ug.edu.ec</p>
            </div>
          </div>
          <div class="stars">
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
          </div>
        </div>
        <div class="testomonial">
          <p>
            Recomiendo mucho esta tienda de ropa, porque vende ropa muy bonita y
            de buena calidad, me gusta
          </p>
        </div>
      </div>
      <div class="card" style="--delay: 1">
        <div class="header">
          <div class="profile">
            <div class="img">
              <img
                src="https://images.unsplash.com/photo-1655249323557-3d016d11c013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                alt=""
              />
            </div>
            <div class="details">
              <h4>Angel Salazar</h4>
              <p>angel.salazarh.@ug.edu.ec</p>
            </div>
          </div>
          <div class="stars">
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
          </div>
        </div>
        <div class="testomonial">
          <p>
            Me gusta mucho la facilidad de compra de mis prendas, ademas gracias
            a esta pagina estoy a la moda
          </p>
        </div>
      </div>
      <div class="card" style="--delay: 2">
        <div class="header">
          <div class="profile">
            <div class="img">
              <img
                src="https://images.unsplash.com/photo-1654627259568-f97e73b9744e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                alt=""
              />
            </div>
            <div class="details">
              <h4>Steven Beltran</h4>
              <p>steven.beltrans@ug.edu.ec</p>
            </div>
          </div>
          <div class="stars">
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
          </div>
        </div>
        <div class="testomonial">
          <p>
            No soy de los que hacen compras online, pero recomiendo mucho esta
            pagina a mis amigos porque tienen la mejor ropa, ademas me gusta la
            calidad y aprovechar las ofertas y descuentos.
          </p>
        </div>
      </div>
      <div class="card" style="--delay: 2">
        <div class="header">
          <div class="profile">
            <div class="img">
              <img
                src="https://images.unsplash.com/photo-1654432009897-de2624640e22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt=""
              />
            </div>
            <div class="details">
              <h4>Paul Pastuzo</h4>
              <p>pastuzopaul@ug.edu.ec</p>
            </div>
          </div>
          <div class="stars">
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
            <span class="op-star"></span>
          </div>
        </div>
        <div class="testomonial">
          <p>BUEN PRODUCTO Y DE CALIDAD LO RECOMIENDO</p>
        </div>
      </div>
    </div>
  </div>
</div>
